body {
    background-color: #f8f9fa;
}

form {
    padding: 30px;
}

.card {
    max-width: 520px;
    width: 100%;
}

.input-field {
    display: flex;
    align-items: center;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}